.container{
    margin: 4.5rem auto;
    height: 85vh;
    
}

.info{
    font-size: 0.7rem;
    margin: 0 auto;
    /* border: 2px dotted dodgerblue; */
    display: flex;
    flex-direction: column;
}

.info .h1 {
    font-size: 2rem;
    /* border:  2px solid white; */
    align-items: center;
    
}

.info .p {
    font-size: 1.2rem;
    /* border: 2px solid chartreuse; */
}

.info .h1, .p{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    color: #fff;
    /* border: 1px solid blue; */
}

.svg{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 70%;
    /* border: 1px solid orange; */
    padding: 1rem;  
}


span{
    color: #fff;
    font-size: 1rem;
}

.group{
    /* border: 2px solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.first{
    /* margin-left: 6rem; */
    /* padding: 0 6rem; */
    font-size: 0.9rem;
    width: fit-content;
    background: #000;
    border: none;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
}
.first:hover{
    transform: scale(1);
    transition: 0.3s ease-in;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
   
}
.btn{
    display: inline-flex;
    /* padding: 0.5rem; */
    font-size: 0.9rem;
    width: fit-content;
    background: #000;
    border: none;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    
}

.btn:hover{
    transform: scale(1);
    transition: 0.3s ease-in;
    border-radius: 10px;
    color: #000;
    background-color: #fff;
   
}

@media (max-width: 400px){
    .container{
        display: flex;
        flex-direction: column;
        
    }
    .info{        
        /* flex-direction: column; */
    }
    .btn, .first{
        padding: 0.6rem;
    }
    .svg img{
        width: 90%;
        
    }
}


@media (min-width: 416px) {
    .info{
        font-size: 0.7rem;
        width: 57%;

    }
    .info .h1 {
        font-size: 2rem;
    }
    .info .p {
        font-size: 1.2rem;
    }

    .info .h1, .p{
        /* display: flex;
        flex-direction: column; */
        /* padding-left: 6rem; */
        color: #fff;
        /* border: 1px solid blue; */
    }

    .svg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        /* border: 1px solid orange; */
        padding: 1rem;


    }
    .svg img{
        width: 90%;

    }

    span{
        color: #fff;
        font-size: 1rem;
    }
    .first{
        /* margin-left: 6rem; */
        padding: 0.5rem;
        font-size: 0.9rem;
        width: fit-content;
        background: #000;
        border: none;
        color: #fff;
        text-decoration: none;
        border-radius: 2px;
        cursor: pointer;
    }
    .first:hover{
        transform: scale(1);
        transition: 0.3s ease-in;
        border-radius: 10px;
        color: #000;
        background-color: #fff;

    }
    .btn{
        display: inline-flex;
        padding: 0.5rem;
        font-size: 0.9rem;
        width: fit-content;
        background: #000;
        border: none;
        color: #fff;
        text-decoration: none;
        border-radius: 2px;
        cursor: pointer;

    }

    .btn:hover{
        transform: scale(1);
        transition: 0.3s ease-in;
        border-radius: 10px;
        color: #000;
        background-color: #fff;

    }
}


@media (min-width: 576px) {
    .container{
        display: flex;
        
        
    }
    .info{
        font-size: 0.7rem;
        width: 50%;
        margin: 7rem auto;
        
    }
    .info .h1 {
        font-size: 2rem;
    }
    .info .p {
        font-size: 1.2rem;
    }

    .info .h1, .p{
        /* display: flex;
        flex-direction: column; */
        /* padding-left: 6rem; */
        color: #fff;
        /* border: 1px solid blue; */
    }

    .svg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        /* border: 1px solid orange; */
        padding: 1rem;

        
    }
    .svg img{
        width: 90%;
        
    }

    span{
        color: #fff;
        font-size: 1rem;
    }
    .first{
        /* margin-left: 6rem; */
        padding: 0.5rem;
        font-size: 0.9rem;
        width: fit-content;
        background: #000;
        border: none;
        color: #fff;
        text-decoration: none;
        border-radius: 2px;
        cursor: pointer;
    }
    .first:hover{
        transform: scale(1);
        transition: 0.3s ease-in;
        border-radius: 10px;
        color: #000;
        background-color: #fff;
       
    }
    .btn{
        display: inline-flex;
        padding: 0.5rem;
        font-size: 0.9rem;
        width: fit-content;
        background: #000;
        border: none;
        color: #fff;
        text-decoration: none;
        border-radius: 2px;
        cursor: pointer;
        
    }
    
    .btn:hover{
        transform: scale(1);
        transition: 0.3s ease-in;
        border-radius: 10px;
        color: #000;
        background-color: #fff;
       
    }
}

    /* Medium devices (tablets, 768px and up)*/
@media (min-width: 600px) {
    .container{
        display: flex;
        flex-direction: row;
        
    }

    .info{
        font-size: 0.7rem;
        width: 50%;
        margin: 7rem auto;
        /* border: 2px solid grey; */
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        
    }
    .svg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        /* border: 1px solid orange; */
        padding: 0 3rem;

        
    }

    

  
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .container{
        margin: 3rem auto;
        height: 85vh;
        display: flex;
        justify-content: center;
    }
    .info{
        font-size: 0.7rem;
        width: 50%;
        margin: 7rem auto;
        /* border: 2px solid grey; */
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        
    }
    .info .h1 {
        font-size: 2.5rem;
    }
    .info .p {
        font-size: 1.3rem;
       
    }

    .info .h1, .p{
        /* display: flex;
        flex-direction: column; */
        color: #fff;
        /* border: 1px solid blue; */
    }
    
    .svg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        /* border: 1px solid orange; */
        padding: 0 6rem;

        
    }
    .svg img{
        width: 70%;
        
    }

    span{
        color: #fff;
        font-size: 1rem;
    }
    .group{
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid saddlebrown; */
    }
    .first{
        padding: 0.5rem;
        font-size: 0.9rem;
        width: fit-content;
        background: #000;
        border: none;
        color: #fff;
        text-decoration: none;
        border-radius: 2px;
        cursor: pointer;
    }
    .first:hover{
        transform: scale(1);
        transition: 0.3s ease-in;
        border-radius: 10px;
        color: #000;
        background-color: #fff;
       
    }
    .btn{
        padding: 0.5rem;
        font-size: 0.9rem;
        width: fit-content;
        background: #000;
        border: none;
        color: #fff;
        text-decoration: none;
        border-radius: 2px;
        cursor: pointer;
        
    }
    
    .btn:hover{
        transform: scale(1);
        transition: 0.3s ease-in;
        border-radius: 10px;
        color: #000;
        background-color: #fff;
       
    }

    

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
   
    
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    
}
